# flyctl launch added from .gitignore
**/.DS_Store
**/Building
**/Verified
**/Verifying

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*

# flyctl launch added from env/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
env/**/*

# flyctl launch added from venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv/**/*
fly.toml
